
snippet blockhelper
{{#${1:button} ${2:attrs}}}
    $0
{{/$1}}
endsnippet

snippet lz
{{lz ${1:"label.${2:key}"}}}
endsnippet

snippet scrHbr
<script id="${1:id}" type="text/x-handlebars-template">
$0
</script>
endsnippet

