[user]
name = Brian Wyant
email = wyantb@gmail.com
#email = brian.wyant@oracle.com

[credential]
#username = bwyant
#helper = cache --timeout 7200

[alias]
ff = merge --ff-only
co = checkout
ci = commit
st = status
br = branch
sub = submodule
hist = log --pretty=format:\"%h %ad | %d %s [%an]\" --graph --date=short
hists = log --pretty=format:\"%h %ad | %d [%an]\" --graph --date=short
type = cat-file -t
dump = cat-file -p
tclean = clean -f -x -d --exclude 'node_modules'

#From: http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
assume   = update-index --assume-unchanged
unassume = update-index --no-assume-unchanged
assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

[diff]
#More from: http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
algorithm = patience

[core]
editor = vim
