[user]
	name = Brian Wyant
	email = wyantb@gmail.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %d %s [%an]\" --graph --date=short
  hists = log --pretty=format:\"%h %ad | %d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
